@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFF09E;
}
body p{
    color: #262626;
}


.info1{
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Inria Sans', sans-serif;
    font-size: 80px;
    background-color: #FFE76B;
    padding-top: 160px;
    padding-bottom: 160px;
}

.img{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.img img{
    width: 130px;
}