<!doctype html>
<html class="no-js" lang="pt-br"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>On Bus Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">

    <link rel="stylesheet" href="/site-adm/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/site-adm/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

    
   <style>
    body{background-color: #edeef3;}
    </style>
</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><i class="menu-icon fa fa-laptop"></i>Início</a>
                    </li>
                <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-plus"></i>Adicionar</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="/motoristas"> Motoristas</a></li>
                            <li><i class="menu-icon fa fa-plus"></i><a href="/usuarios"> Usuarios</a></li>
                            <li><i class="menu-icon fa fa-plus"></i><a href="/linhas"> Linhas</a></li>
                            <li><i class="menu-icon fa fa-plus"></i><a href="/onibus"> Ônibus</a></li>
                            <li><i class="menu-icon fa fa-plus"></i><a href="/comentario"> Comentário</a></li>
                        </ul>


                    
               </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/site-adm/images/logo.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                    

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/site-adm/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/login"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- Header-->


        <div class="content">
            <div class="animated fadeIn">
                
                <div id="flashMessageContainer" class="col-lg-12 text-center"></div>


                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Excluir</strong> Linha
                            </div>
                            <div class="card-body card-block">
                                <label for="text-input" class=" form-control-label"><strong>Tem certeza que deseja excluir a linha:</strong></label>
                                <br>
<!--                                 
                                <div class="row form-group">
                                    <div class="col col-md-1"><label for="text-input" class=" form-control-label"><strong>Id:</strong></label></div>
                                    <div class="col-12 col-md-9">
                                         <span id="id"></span>
                                    </div>
                                </div> -->

                                
                                <div class="row form-group">
                                    <div class="col col-md-1"><label for="text-input" class=" form-control-label"><strong>Nome:</strong></label></div>
                                    <div class="col-12 col-md-9">
                                         <span id="nome"></span>
                                    </div>
                                </div>

                                <hr class="border border-grey border-2 opacity-50">
                                
                                <div class="row form-group">
                                    <div class="col col-md-1"><label for="text-input" class=" form-control-label"><strong>Inicio:</strong></label></div>
                                    <div class="col-12 col-md-9">
                                         <span id="inicio"></span>
                                    </div>
                                </div>

                                <hr class="border border-grey border-2 opacity-50">
                                
                                <div class="row form-group">
                                    <div class="col col-md-1"><label for="text-input" class=" form-control-label"><strong>Termino:</strong></label></div>
                                    <div class="col-12 col-md-9">
                                         <span id="termino"></span>
                                    </div>
                                </div>

                                <hr class="border border-grey border-2 opacity-50">
                                
                                <div class="row form-group">
                                    <div class="col col-md-1"><label for="text-input" class=" form-control-label"><strong>Frequência:</strong></label></div>
                                    <div class="col-12 col-md-9">
                                         <span id="freq_semanal"></span>
                                    </div>
                                </div>

                                <hr class="border border-grey border-2 opacity-50">
                                
                                <div class="row form-group">
                                    <div class="col col-md-1"><label for="text-input" class=" form-control-label"><strong>Rota:</strong></label></div>
                                    <div class="col-12 col-md-9">
                                         <span id="rota"></span>
                                    </div>
                                </div>

                                
                                <form id="form">
                                    <input type="submit" value="Confirmar" class="btn btn-danger btn-sm">
                                    <a href="/linhas" class="btn btn-primary btn-sm">Cancelar</a>
                                </form>        
                            </div>   
                            </div>

                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                            crossorigin="anonymous"></script>
    
                            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
                            <script src="/site-adm/assets/js/flashMessage.js"></script>
                            <script src="/site-adm/js/linha/excluir-linha.js"></script>
                            
                    </div>
            </div>


           

        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix py-5"></div>
    <div class="clearfix py-5"></div>
    <div class="clearfix py-5"></div>
    <div class="clearfix py-5"></div>
    <div class="clearfix py-5"></div>


    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2023 OnBus
                </div>
              
            </div>
        </div>
    </footer>

</div><!-- /#right-panel -->

<!-- Right Panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="/site-adm/assets/js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/site-adm/js/cliente/credencial.js"></script>
<script>
document.addEventListener("DOMContentLoaded", async function () {
    try {

        // primeira etapa
        
       const clienteId = await verifyToken();
        console.log("Está autorizado a ver esta página" , clienteId);

    } catch (error) {
        console.error("Erro ao verificar o token:", error);
        window.location.replace("/login");
    }
});
</script>



</body>
</html>
